/* My Notes => Weights: 500, 700 */
// - Mobile: 375px
// - Desktop: 1440px

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}
* {
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background: var(--light-grayish-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 975px) and (min-height: 600px) {
    height: 100vh;

    .card {
      margin: 0;
    }
  }
}

.d-none {
  display: none !important;
}

.card {
  width: 87.5%;
  max-width: 395px;
  min-width: 300px;
  margin: 7rem auto 2.5rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 1.25rem;
  box-shadow: rgba(50, 50, 93, 0.2) 0px 20px 57px -5px,
    rgba(0, 0, 0, 0.25) 0px 10px 16px -8px;
  line-height: 1.5;
  position: relative;

  @media screen and (min-width: 975px) {
    flex-direction: row;
    max-width: 810px;
  }
}

.card__img-container {
  width: 100%;
  overflow: hidden;
  max-height: 275px;

  @media screen and (min-width: 975px) {
    max-height: max-content;
  }

  .card__img {
    border-radius: 1.25rem 1.25rem 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @media screen and (min-width: 975px) {
      border-radius: 1.25rem 0 0 1.25rem;
    }
  }
}

.card__body {
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @media screen and (max-width: 975px) {
    padding-bottom: 2.4rem;
  }

  .body__title {
    color: var(--very-dark-grayish-blue);
    font-size: 1.57em;
    font-weight: 700;
  }

  .body__description {
    color: var(--desaturated-dark-blue);
    font-size: 1.15em;
  }
}

.body__detail {
  display: flex;
  justify-content: space-between;
  margin-top: 1.75rem;
  user-select: none;

  .detail__bio {
    display: flex;
    gap: 1.75rem;

    .bio__texts {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1.05em;
      gap: 3px;

      .texts__name {
        font-size: 1.05em;
        color: var((--very-dark-grayish-blue));
        font-weight: 700;
      }
      .texts__date {
        font-size: 1.05em;
        color: var((--grayish-blue));
      }
    }

    img {
      border-radius: 50%;
      width: 50px;
    }
  }

  .detail__share {
    display: flex;
    align-items: center;
    margin-bottom: -3px;
    margin-left: auto;

    .svg-container {
      position: relative;
      border-radius: 50%;
      width: 36px;
      height: 36px;
      box-sizing: content-box;
      background-color: var(--grayish-blue);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: rgb(108, 123, 148);
      }
    }
    .share__btn {
      transform: scale(1.08);
      padding-bottom: 2px;
    }
  }
  .share-dialog-default {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--very-dark-grayish-blue);
    display: flex;
    align-items: center;
    padding-bottom: 1px;
    color: #fff;
    gap: 2.5rem;

    & :first-child {
      letter-spacing: 6px;
      font-weight: 100;
      text-transform: uppercase;
      color: var(--grayish-blue);
    }
    a {
      display: block;
      transition: 0.3s;
      transform: scale(1.1);
      fill: #fff;

      &:nth-child(2):hover {
        fill: #1877f2;
      }
      &:nth-child(3):hover {
        fill: #1da1f2;
      }
      &:nth-child(4):hover {
        fill: #bd081c;
      }
      &:nth-child(3) {
        transform: scale(1.1) translate(1.75px, 1px);
      }
    }

    & a:hover {
      transform: scale(1.25) rotate(25deg);
    }
  }
  .share-dialog-sm {
    height: 8.75rem;
    border-radius: 0 0 1.25rem 1.25rem;
    padding: 0 3.2rem;
  }

  .share-dialog-xl {
    height: 6rem;
    width: 27rem;
    right: 100rem;
    left: calc(100% - 23%);
    top: 52%;
    border-radius: 1rem;
    padding: 0 3rem;
    box-shadow: rgba(50, 50, 93, 0.2) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.25) 0px 8px 16px -8px;
    &::after {
      content: "";
      position: absolute;
      bottom: -16%;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid var(--very-dark-grayish-blue);
      box-shadow: rgba(50, 50, 93, 0.2) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.25) 0px 8px 16px -8px;
    }
  }
}
